name: build-macos

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, arm64]
    env:
      CSC_IDENTITY_AUTO_DISCOVERY: "false"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - run: npm ci
        env:
          PYTHON: ${{ env.pythonLocation }}/bin/python
          npm_config_python: ${{ env.pythonLocation }}/bin/python

      - run: npm run electron:build:mac -- --${{ matrix.arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: macos-${{ matrix.arch }}
          path: dist-electron
